body {
    min-height: 100%;
    height: 100%;
    background-color: #020608 !important;
}

html {
    min-height: 100%;
    height: 100%;
}

#__next {
    height: 100%;
}

/*
.plyr {
    position: absolute;
    width: 100%
}
*/



p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif !important;
}




.backIcon {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 50px;
    width: 50px;
    background-image: url('../public/images/back_icon.png');
    background-size: contain;
    background-position: center;
    cursor: pointer;
    z-index: 20;
    filter: invert(1);
}

/* Customized video-js css */
.video-js {
    position: absolute !important;
    height: 100% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}










/* For chnageImages, changeMetadata */
.metadataBox {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    min-width: 500px;
    height: 80vh;
    min-height: 500px;
    background-color: #1b1b1bf2;
    padding: 25px;
    color: white;
    overflow-y: auto;
}

.metadataBox form button {
    float: right;
}

.metadataBox img {
    width: 100px;
}

.list-group-item {
    background-color: #1b1b1bf2 !important;
}
.list-group-item img {
    float: left;
    margin-right: 10px;
}

.metadataSearchRow {
    background-color: inherit !important;
}

.buttonMiddle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.metadataSearchRow img {
    margin: 0 10px 10px 0;
    float: left;
}

.metadataSearchRow button {
    float: right;
}

