.videoPlayer {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    opacity: 1;
    transition: all 0.2;
}

.nextEpisodeButton {
    position: absolute;
    z-index: 200;
    right: 25px;
    bottom: 150px;
    height: 50px;
}

.nextEpisodeColor {
    background-color: #141f37;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    transition: 0.2s all ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.nextEpisodeContainer {
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    user-select: none;
    -webkit-user-select: none;
    
    background-color: #141f3744;
    border-radius: .75rem;
    border: 1px solid #141f3744;
    padding: 0 10px;
    flex: 0 0 auto;


}

.nextEpisodeContainer p {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
}


.nextEpisodeButton:hover > .nextEpisodeContainer > .nextEpisodeColor {
  background-color: #141f37;
  width: 100% !important;
}
.nextEpisodeButton:hover {
    cursor: pointer;
}



.description {
    color: white;
    padding: 20px;
    width: 80vw;

}

.overview {
}


.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.15;
}

.top {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: inline-flex;
    padding: 50px 50px 0 50px;
    margin-top: 40px;
}

.poster {
    height: 379px;
    width: 14vw;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.poster:hover {
    -webkit-box-shadow: inset 0px 0px 32px 17px rgba(0,0,0,0.77);
    -moz-box-shadow: inset 0px 0px 32px 17px rgba(0,0,0,0.77);
    box-shadow: inset 0px 0px 32px 17px rgba(0,0,0,0.77);
}

.metadata {
    display: inline-flex;
    margin-bottom: 10px;
}

.metadata p {
    font-size: 12px;
    margin: 0 5px;
}

.actions {
    width: 100%;
    text-align: center;
    height: 50px;
    display: inline-flex;
}

.actions div {
    cursor: pointer
}

.playButton {
    background: url('../public/images/play_2.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: rgba(85, 85, 85, 0.08);
    border-radius: 10px;
    width: 120px;
    height: 70px;
}

.bottom {
    color: white;
    padding: 20px 50px 0 50px;
}

.unmarkAsWatchText {
    display: none;
}

.seasons {
    display: inline-block;
}

.seasons div {
    margin: 0 5px;
    float: left;
}

@keyframes ldio {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio div {
    position: absolute;
    animation: ldio 1.25s linear infinite;
    width: 171.20000000000002px;
    height: 171.20000000000002px;
    top: 21.400000000000002px;
    left: 21.400000000000002px;
    border-radius: 50%;
    box-shadow: 0 7.276000000000002px 0 0 #93dbe9;
    transform-origin: 85.60000000000001px 89.23800000000001px;
  }
  .loadingioSpinnerEclipse {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio div { box-sizing: content-box; }

  .actors {
      width: 100%;
      position: relative;
  }

  .actors .actorBox {
        width: 100%;
        scroll-behavior: smooth;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      display: inline-flex;
      overflow-x: scroll;


  }
  .actors .actorBox::-webkit-scrollbar {
    display: none;
  }

  .outerActors {
      position: relative;
  }

  .bottom h1 {
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}

.scrollButton {
    filter: invert(1);
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
}

.scrollable {
    overflow: auto;
    overflow-y: visible;
    -ms-overflow-style: none;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
}

.scrollable::-webkit-scrollbar {
    display: none;
  }

  .bottom {
      z-index: 1;
  }

/* Mobile */
@media only screen and (max-width: 768px) {
    .actors {
        width: 100%;
    }

    .scrollButton {
        display: none;
    }

    .actions {
        height: auto;
        display: block;
    }

    .description {
        padding: 0;
    }

    .actionButton {
        float: left;
        margin: 10px !important;
    }

    .actionButton p {
        margin: 0 !important;
        font-size: 10px !important;
    }

    .buttonHiddenForMobile {
        display: none;;
    }

    .playButton {
        margin: 0;
    }

    .poster {
        display: none;
    }
}