.videoPlayer {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    opacity: 1;
    transition: all 0.2;
}



.description {
    color: white;
    padding: 20px;
    width: 80vw;

}

.overview {
}


.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.15;
}

.top {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: inline-flex;
    padding: 50px 50px 0 50px;
    margin-top: 40px;
}

.poster {
    height: 379px;
    width: 14vw;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.poster:hover {
    -webkit-box-shadow: inset 0px 0px 32px 17px rgba(0,0,0,0.77);
    -moz-box-shadow: inset 0px 0px 32px 17px rgba(0,0,0,0.77);
    box-shadow: inset 0px 0px 32px 17px rgba(0,0,0,0.77);
}

.metadata {
    display: inline-flex;
    margin-bottom: 10px;
}

.metadata p {
    font-size: 12px;
    margin: 0 5px;
}

.actions {
    width: 100%;
    height: 50px;
    display: inline-flex;
}

.playButton {
    background: url('../public/images/play_2.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: rgba(85, 85, 85, 0.08);
    border-radius: 10px;
    width: 100%;
    height: 70px;
}

.bottom {
    color: white;
    padding: 20px 50px 0 50px;
}

.unmarkAsWatchText {
    display: none;
}

.seasons {
    display: inline-block;
}

.seasons div {
    margin: 0 5px;
    float: left;
}

@keyframes ldio {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio div {
    position: absolute;
    animation: ldio 1.25s linear infinite;
    width: 171.20000000000002px;
    height: 171.20000000000002px;
    top: 21.400000000000002px;
    left: 21.400000000000002px;
    border-radius: 50%;
    box-shadow: 0 7.276000000000002px 0 0 #93dbe9;
    transform-origin: 85.60000000000001px 89.23800000000001px;
  }
  .loadingioSpinnerEclipse {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio div { box-sizing: content-box; }