.backdrop {
    width: 400px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    margin: 0 5px 0 5px;
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.backdrop:hover {
    width: 600px;
    cursor: pointer;
}

.backdrop:hover .title {
    opacity: 1;
}

.backdrop:hover .overview {
    opacity: 1;
}

.backdrop .title {
    opacity: 0;
    transition: all 0.2s;
    margin: 5px 15px;
}
.backdrop .overview {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    opacity: 0;
    transition: all 0.8s;
    white-space: normal;
}

.progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 6px;
}

.progress {
    color: rgb(23, 52, 70);
}
  
.progress::-webkit-progress-value {
background: rgb(23, 52, 70);
}

.progress::-moz-progress-bar {
background: whitesmoke;
}

.progress::-webkit-progress-value {
background: rgb(23, 52, 70);
}

.progress::-webkit-progress-bar {
background: whitesmoke;
}