.backdrop {
    white-space: normal;
    width: 20vw;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    /*margin: 0 5px 0 5px; */
    display: inline-flex;
    position: relative;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.backdrop:hover {
    width: 30vw;
    cursor: pointer;
}

.backdrop:hover .title {
    opacity: 1;
}

.backdrop:hover .overview {
    opacity: 1;
}

.backdrop .title {
    opacity: 0;
    transition: all 0.2s;
    will-change: opacity;
    margin: 5px 15px;
}
.backdrop .overview {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    opacity: 0;
    transition: all 0.8s;
    will-change: opacity;
    white-space: normal;
}

.progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 6px;
}

.progress {
    color: rgb(23, 52, 70);
}
  
.progress::-webkit-progress-value {
background: rgb(23, 52, 70);
}

.progress::-moz-progress-bar {
background: whitesmoke;
}

.progress::-webkit-progress-value {
background: rgb(23, 52, 70);
}

.progress::-webkit-progress-bar {
background: whitesmoke;
}

.setAsWatched {
    position: relative;
    border-radius: 50%;
    float: right;
    margin: 10px 10px 0 0;
    width: 25px;
    height: 25px;
    background-image: url('/images/cross.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 10;
}

.setAsWatched:hover {
    box-shadow: 0 -0 0 1px #1b1b1b;
    transform: scale(1.5);
}