.searchForm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: table;
    
}

.searchForm input {
    background-color: #17344600;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}