.videoContainer {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    display: none;
    position: fixed;
}

.videoPlayer {
    position: fixed;
    width: 100%;
    z-index: 100;
    position: fixed;
    height: 100%;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}

.videoControls {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    transition: opacity 0.2s;
}

.videoControls, .topControls {
    transition: visibility 0s, opacity 0.2s linear;
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.seekTime {
    position: absolute;
    top: -50%;
}

.seekTime span {
    padding: 0 3px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #0000006b;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translate(-50%, 0);
    border-radius: 6px;
}

.seekWrapper {
    position: relative;
    width: 100%;
}

.seekbar {
    height: 3px;
    width: 100%;
    margin-top: 8px;
}

.playPause {
    padding: 20px;
    cursor: pointer;
}

.playButton {
    background-image: url('../public/images/play.svg');
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.pauseButton {
    background-image: url('../public/images/pause.svg');
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.lowerControls {
    position: relative;
    display: inline-flex;
    margin-top: 15px;
}

.lowerLeftControls {
    display: inline-flex;
    width: 33vw;
}

.lowerMiddleControls {
    width: 33vw;
}

.lowerRightControls {
    display: inline-flex;
    width: calc(33vw - 75px);
    direction: rtl;
}

.topControls {
    position: absolute;
    top: 25px;
    left: 25px;
}

.button {
    transition: all 0.2s;
    margin: 0 20px;
}

.button:hover {
    transform: scale(1.2);
}

.title, .infoText {
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.infoText {
    font-size: 15px;
}

.backImage {
    background-image: url('../public/images/left_arrow.svg');
    background-repeat: no-repeat;
    filter: invert(1);
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    background-size: 50px;
    z-index: 1000;
    background-position: center;
    float: left;
}

.fullscreenImage {
    background-image: url('../public/images/fullscreen.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    cursor: pointer;
    padding: 20px;
}

.resolutionImage {
    background-image: url('../public/images/gear.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    cursor: pointer;
    padding: 20px;
}

.soundImage {
    background-image: url('../public/images/high-volume.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-top: -8px;
    cursor: pointer;
    padding: 28px;
}

.mutedSoundImage {
    background-image: url('../public/images/muted-speaker.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-top: -8px;
    cursor: pointer;
    padding: 28px;
}

.subtitles {
    background-image: url('../public/images/subtitles.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-top: -6px;
    cursor: pointer;
    padding: 28px;
}

.chromecast {
    background-image: url('../public/images/cast.svg');
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-top: -6px;
    cursor: pointer;
    padding: 28px;
}


.subtitleContainer {
    position: relative;
}

.subtitleContainer:hover>.subtitlesList {
    display: block;
}

.resolutionContainer {
    position: relative;
}

.resolutionContainer:hover>.resolutionList {
    display: block;
}

.resolutionList {
    display: none;
    position: absolute;
    bottom: 50px;
    padding: 25px;
    background-color: #ffeaeab5;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 8px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.subtitlesList {
    display: none;
    position: absolute;
    bottom: 50px;
    padding: 25px;
    background-color: #ffeaeab5;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 8px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.subtitlesList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resolutionList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subtitlesList ul li {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 17px;
    text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.5);
}

.resolutionList ul li {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 17px;
    text-shadow: 2px 3px 5px rgba(255, 255, 255, 0.5);
}

.activeSubtitle, .activeResolution {
    font-weight: bold;
}

.soundContainer:hover>.soundbarContainer {
    display: block;
}

.soundContainer {
    position: relative;
}

.soundbarContainer {
    display: none;
    background-color: #ffeaeab5;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 25px;
    border-radius: 8px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.soundbar {
    height: 100px;
    width: 10px;
    orientation: vertical;
    -webkit-appearance: slider-vertical;
}


@media screen and (max-width: 1000px) {
    .title {
        display: none;
    }

    .button {
        padding: 10px;
    }

    .chromecast, .subtitles, .soundImage {
        padding: 14px;
        margin-top: -3px;
    }

    .soundbarContainer, .subtitlesList, .resolutionList {
        bottom: 25px;
    }
}