.SearchResult {
    width: 100%;
    color: white;
    overflow: auto;
    overflow-y: visible;
    -ms-overflow-style: none;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
}

.SearchResult::-webkit-scrollbar { width: 0 !important }

.searchResultBox {
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scrollButton {
    filter: invert(1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.logo {
    width: 198px !important; 
    height: auto !important;
    min-height: 0 !important;
    min-width: 0 !important;
    filter: invert(1);
    margin: 0 0 0 15px !important;
}

.menuBtn {
    color: white;
    text-decoration: none;
    display: inline;
    margin-left: 20px;
    font-size: 1.5rem;
}

.menuBtn:hover {
    color: white;
}

.header {
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 100px !important;
    }

    .menuBtn {
        margin-left: 15px !important;
        font-size: 1rem !important;
    }
}