.searchForm {
    float: right;
    width: 0;
    transition: 0.3s all;
}

.searchForm input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 0.3s all;
}

.searchForm input:focus {
    outline: none;
}

.searchForm input::placeholder {
    font-size: 12px;
}

.searchIcon {
    filter: invert(1);
    transform: scale(0.8);
    transition: 0.2s transform;
    margin-top: 5px !important;
}

.searchIcon:hover {
    cursor: pointer;
    transform: scale(1);
}

.visible {
    width: 200px !important;
}

.visible input {
    padding: 6px 12px !important;
}