header {
    background-color: rgb(23, 52, 70);
    height: 100px;
    -webkit-box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.4);
}

body {
    background-color: #232323 !important;
}

.plyr {
    position: absolute;
    width: 100%
}