.newReleases {
    width: 100%;
    height: 50vh;
    min-height: 500px;
    position: relative;
}

.container {
    width: 95%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.movieRow {
    width: 100%;
    height: auto;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

.scrollable {
    overflow: auto;
    overflow-y: visible;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.scrollable::-webkit-scrollbar {
    display: none;
  }

.scrollButton {
    filter: invert(1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}